<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物识别签到系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
    <style>
        video, canvas {
            border: 2px solid #2b8cdf;
        }

        .text-center {
            text-align: center;
        }

        .rr {
            float: right;
        }
        .photos {
            margin-top: 20px;
            text-align: center;
            white-space: nowrap; /* 防止照片换行显示 */
            overflow-x: auto; /* 横向滚动条 */
        }

        .photos img {
            width: 120px; /* 设置缩略图宽度 */
            margin: 10px;
        }
    </style>
</head>
<body>
<header class="col-xs-12 navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            人脸录入
        </a>
    </div>
    <div class="rr">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('student.home') }}">返回首页</a></li>
        </ul>
    </div>
</header>
<main class="col-xs-12">
    <div class="text-center alert-danger" id="message" role="alert" hidden> 提示</div>
    <div class="col-xs-6">
        <video id="video" width="640" height="480"></video>
        <div class="col-xs-6">
            <button id="openButton" class="btn btn-primary">打开摄像头</button>
            <form action="{{ url_for('student.upload_faces') }}" method="post">
                <input type="submit" class="btn btn-primary" value="提交">
            </form>
        </div>
    </div>
    <div class="col-xs-6">
        <canvas id="canvas" width="640" height="480"></canvas>
        <div class="col-xs-6">
            <button id="getPicButton" class="btn btn-primary">拍照</button>
            <button id="savePicButton" class="btn btn-primary">确认</button>
        </div>
    </div>
</main>
<script>
    $(document).ready(function() {
        const $video = $("#video");
        const $canvas = $("#canvas");
        const $photoContainer = $("#photoContainer");

        // 设置 canvas 尺寸匹配视频尺寸
        $canvas[0].width = $video[0].width;
        $canvas[0].height = $video[0].height;

        function openVideo() {
            let constraints = {
                video: { width: $video.width(), height: $video.height() }
            };

            navigator.mediaDevices.getUserMedia(constraints)
                .then(stream => {
                    $video[0].srcObject = stream;
                    $video[0].play();
                })
                .catch(error => {
                    console.error("摄像头访问出错: ", error);
                    alert("无法访问摄像头, 请检查权限设置! ");
                });
        }

        function getPic() {
            const ctx = $canvas[0].getContext("2d");
            ctx.drawImage($video[0], 0, 0, $video.width(), $video.height());
        }

        function savePic() {
            let data = $canvas[0].toDataURL("image/jpg", 0.5);
            console.log(data);
            data = data.replace(/^data:image\/(png|jpg);base64,/, "");

            $.post("/student/get_faces", {"face": data}, function(res) {
                const flag = res.result;
                const num = res.code;
                let msg;
                let alertClass;

                if (flag === 'false') {
                    msg = '未检测到人脸或存在多张人脸, 请重新拍摄';
                    alertClass = 'alert-danger';
                } else if (flag === 'big') {
                    msg = '人脸范围过大, 请调整距离后再拍摄';
                    alertClass = 'alert-danger';
                } else if (flag === 'error') {
                    msg = '提交不合格照片, 请确保5张照片都合格后再提交';
                    alertClass = 'alert-danger';
                } else {
                    if (num === 5) {
                        msg = '已成功拍摄5张照片, 再次拍摄将覆盖最旧的照片, 无误请点击提交';
                        alertClass = 'alert-warning';
                    } else {
                        msg = '照片合格, 已保存, 请继续拍摄至5张';
                        alertClass = 'alert-success';
                    }

                }

                $("#message").attr("class", alertClass).text(msg).show().fadeOut(3000);
            }).fail(function() {
                console.error("Error while sending image data.");
            });
        }

        $("#openButton").click(openVideo);
        $("#getPicButton").click(getPic);
        $("#savePicButton").click(savePic);
    });
</script>


</body>
</html>