<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物识别签到系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/my.css">
    <style>
        input {
            border: 0;
        }

        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

    </style>
</head>
<body>
<header class="col-xs-12 navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">课程考勤</a>
    </div>
    <div class="rr">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('teacher.home') }}">返回首页</a></li>
        </ul>
    </div>
</header>
<table class="table table-striped">
    <thead>
    <tr>
        <th>课程代码</th>
        <th>课程名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for c in courses %}
        <tr>
            <td>{{ c.c_id }}</td>
            <td>{{ c.c_name }}</td>
            <td>
                <form action="{{url_for('teacher.records')}}" method="post">
                    <input type="hidden" id="id_{{ c.c_id }}" name="id" value="{{ c.c_id }}">
                    <input type="hidden" id="name_{{ c.c_id }}" name="name" value="{{ c.c_name }}">
                    <input type="submit" class="btn btn-primary" value="开启签到">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>


</table>

</body>
</html>