<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Occurred</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-danger">Oops! Something went wrong.</h1>
    <p>Sorry for the inconvenience. We're working on it and we'll get it fixed as soon as we can.</p>
    <p>Meanwhile, you might want to head back to our <a href="/">homepage</a>.</p>
</div>
</body>
</html>
